[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

django-debug-toolbar = "==1.8"


[packages]

django = "==1.11.5"
"psycopg2" = "==2.7.3.1"
pytz = "==2017.2"


[requires]

python_version = "3.5"
