{% extends 'base.html' %}
{% load word_extras %}
{% block nav-crumb%}
    <li><a href="{% url 'home' %}">Home[首页]</a></li>
{% endblock %}

{% block page-head %}
    <h1 style="margin-top:0px; margin-right:0.15em; margin-left:0.06em">
        learn it <span style="font-size:60px; font-weight:400">易</span>sy!
        <div class="right">{% teach_me 'introduction' 'welcome' text="Introduction"%}</div>
    </h1>

{% endblock %}

{% block body %}
<div class="row">
    <div class="col span-1-2 span-tablet-vertical-1-1">
        <div class="doc">
            <div class="doc-title">
                <h2>HSK 1 [汉语水平第一]</h2>
            </div>
            <div class="doc-content">
                Learn and study vocabulary in the <mark>first level</mark> of the standarized chinese fluency test
                {% teach_me 'HSK' '1' text="teach me!"%}
            </div>
        </div>
    </div>

    <div class="col span-1-2 span-tablet-vertical-1-1">
        <div class="doc">
            <div class="doc-title"><h2>HSK 2 [汉语水平第二]</h2></div>
            <div class="doc-content">
                Learn and study vocabulary in the <mark>second level</mark> of the standarized chinese level test
                {% teach_me 'HSK' '2'%}
            </div>
        </div>
    </div>

    <div class="col span-1-2 span-tablet-vertical-1-1">
        <div class="doc">
            <div class="doc-title"><h2>HSK 3 [汉语水平第三]</h2></div>
            <div class="doc-content">
                Learn and study vocabulary in the <mark>third level</mark> of the standarized chinese level test
                {% teach_me 'HSK' '3'%}
            </div>
        </div>
    </div>

    <div class="col span-1-2 span-tablet-vertical-1-1">
        <div class="doc">
            <div class="doc-title"><h2>HSK 4 [汉语水平第四]</h2></div>
            <div class="doc-content">
                Learn and study vocabulary in the <mark>fourth level</mark> of the standarized chinese level test
                {% teach_me 'HSK' '4'%}
            </div>
        </div>
    </div>
    <div class="col span-1-2 span-tablet-vertical-1-1">
        <div class="doc">
            <div class="doc-title"><h2>HSK 5 [汉语水平第五]</h2></div>
            <div class="doc-content">
                Learn and study vocabulary in the <mark>fifth level</mark> of the standarized chinese level test
                {% teach_me 'HSK' '5'%}
            </div>
        </div>
    </div>
    <div class="col span-1-2 span-tablet-vertical-1-1">
        <div class="doc">
            <div class="doc-title"><h2>HSK 6 [汉语水平第六]</h2></div>
            <div class="doc-content">
                Learn and study vocabulary in the <mark>sixth level</mark> of the standarized chinese level test
                {% teach_me 'HSK' '6'%}
            </div>
        </div>
    </div>
</div>
{% endblock %}
